* {
    box-sizing: border-box;
}

body{
    background-image: url("background.png");
}

main{
    background-color: white;
    border:4px solid black;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "n n n"
    "h h as"
    "t t t"
    "f f f";
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

nav{
    margin-top: 1%;
    display: grid;
    grid-area: n;
    text-align: center;
    margin-bottom: 30px;
    justify-content: center;
    grid-auto-flow: column;
}
 
nav a{
    background: #f2c452;
    padding: 10px 20px;
    border-radius: 15px;
    margin: 0 10px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #000;
}
 
header{
    margin-left: 32%;
    display: grid;
    grid-area: h;
}

h1{
    font-size: 28px;
    font-weight: 400;
  
}

h2{
    font-size: 56px;
    font-weight: 400;
}

p{
    font-size: 24px;
    max-width: 60ch;
    font-weight: 400;
}

aside{
    display: grid;
    grid-area: as;
}

aside img {
    width: 100%;
    max-width: 450px;
    height: 550px;
    object-fit: cover;
}


table{
    display: grid;
    grid-area: t;
    max-width: 1600px;
    margin: auto;
    border-collapse: collapse;
    border:1px solid black;
}

th{
    background: #8d5b1a;
    color: white;
    padding: 12px;
}

td{
    background: #feda70;
    padding: 10px;
}

footer{
    margin-top: 2%;
    margin-left: 28%;
    margin-right: 28%;
    margin-bottom: 15px;
    display: grid;
    grid-area: f;
    background-color: #8d5b1a;
    color: white;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
}
